<footer>
    <!-- footer top start -->
    <div class="footer-top bg-black pt-14 pb-14">
        <div class="container">
            <div class="footer-top-wrapper">
                <div class="newsletter__wrap">
                    <div class="newsletter__title">
                        <div class="newsletter__icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="newsletter__content">
                            <h3>sign up for newsletter</h3>
                            <p>Duis autem vel eum iriureDuis autem vel eum</p>
                        </div>
                    </div>
                    <div class="newsletter__box">
                        <form id="mc-form">
                            <input type="email" id="mc-email" autocomplete="off" placeholder="Email">
                            <button id="mc-submit">subscribe!</button>
                        </form>
                    </div>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->
                </div>
                <div class="social-icons">
                    <a routerLink="/#/" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a routerLink="/#/" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a routerLink="/#/" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                    <a routerLink="/#/" data-toggle="tooltip" data-placement="top" title="Google-plus"><i class="fa fa-google-plus"></i></a>
                    <a routerLink="/#/" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- footer top end -->

    <!-- footer main start -->
    <div class="footer-widget-area pt-40 pb-38 pb-sm-10">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget mb-sm-30">
                        <div class="widget-title mb-10 mb-sm-6">
                            <h4>contact us</h4>
                        </div>
                        <div class="widget-body">
                            <ul class="location">
                                <li><i class="fa fa-envelope"></i>support@galio.com</li>
                                <li><i class="fa fa-phone"></i>(800) 0123 456 789</li>
                                <li><i class="fa fa-map-marker"></i>Address: 1234 - Bandit Tringi Aliquam
                                    Vitae. New York</li>
                            </ul>
                            <a class="map-btn" href="contact-us.html">open in google map</a>
                        </div>
                    </div> <!-- single widget end -->
                </div> <!-- single widget column end -->
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget mb-sm-30">
                        <div class="widget-title mb-10 mb-sm-6">
                            <h4>my account</h4>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li><a routerLink="/#/">my account</a></li>
                                <li><a routerLink="/#/">my cart</a></li>
                                <li><a routerLink="/#">checkout</a></li>
                                <li><a routerLink="/#/">my wishlist</a></li>
                                <li><a routerLink="/#/">login</a></li>
                            </ul>
                        </div>
                    </div> <!-- single widget end -->
                </div> <!-- single widget column end -->
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget mb-sm-30">
                        <div class="widget-title mb-10 mb-sm-6">
                            <h4>short code</h4>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li><a routerLink="/#/">gallery</a></li>
                                <li><a routerLink="/#/">accordion</a></li>
                                <li><a routerLink="/#/">carousel</a></li>
                                <li><a routerLink="/#/">map</a></li>
                                <li><a routerLink="/#/">tab</a></li>
                            </ul>
                        </div>
                    </div> <!-- single widget end -->
                </div> <!-- single widget column end -->
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget mb-sm-30">
                        <div class="widget-title mb-10 mb-sm-6">
                            <h4>product tags</h4>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li><a routerLink="/#/">computer</a></li>
                                <li><a routerLink="/#/">camera</a></li>
                                <li><a routerLink="/#/">smart phone</a></li>
                                <li><a routerLink="/#/">watch</a></li>
                                <li><a routerLink="/#/">tablet</a></li>
                            </ul>
                        </div>
                    </div> <!-- single widget end -->
                </div> <!-- single widget column end -->
            </div>
        </div>
    </div>
    <!-- footer main end -->

    <!-- footer bootom start -->
    <div class="footer-bottom-area bg-gray pt-20 pb-20">
        <div class="container">
            <div class="footer-bottom-wrap">
                <div class="copyright-text">
                    <p><a target="_blank" href="https://www.esprit.tn">PFE 2023 ESPRIT</a></p>
                </div>
                <div class="payment-method-img">
                    <img src="assets/img/payment.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- footer bootom end -->

</footer>