
<app-headerbyadmin></app-headerbyadmin>
<app-menubyadmin></app-menubyadmin>



<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
  <!-- form card register -->
  <div class="card">



    
    <br><hr>

  </div>
</div>
<!-- form card register -->
</div>






<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
  <!-- form card register -->
  <div class="card">



    
    <br><hr>

  </div>
</div>
<!-- form card register -->
</div>













<app-footerbyadmin></app-footerbyadmin>