
<app-headerbyadmin></app-headerbyadmin>
<app-menubyadmin></app-menubyadmin>



<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
  <!-- form card register -->
  <div class="card btn-primary">

   <br><h1>MORE DETAILS :</h1>

    
    <br>

  </div>
</div>
<!-- form card register -->
</div>






<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
  <!-- form card register -->
  <div class="card">




<div class="row justify-content-center">
    <div class="register-admin">
      <!-- form card register -->
      <div class="card-body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="inputName">userid</label>
                <input class="form-control" type="text" formControlName="userid" readonly/>
                <!-- error -->
                <div
                  class="invalid-feedback"
                  *ngIf="submitted && myForm['userid'].errors?.['required']"
                >
                userid is required.
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="inputName">total</label>
                <input class="form-control" type="text" formControlName="total" readonly/>
                <!-- error -->
                <div
                  class="invalid-feedback"
                  *ngIf="submitted && myForm['total'].errors?.['required']"
                >
                total is required.
                </div>
              </div>
            </div>


          </div>


          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="inputName">paimentid</label>
                <input class="form-control" type="text" formControlName="paimentid" readonly/>
                <!-- error -->
                <div
                  class="invalid-feedback"
                  *ngIf="submitted && myForm['paimentid'].errors?.['required']"
                >
                paimentid is required.
                </div>
              </div>
            </div>



          </div>






        </form>
      </div>
    </div>
    <!-- form card register -->
  </div>











    
    <br><hr>

  </div>
</div>
<!-- form card register -->
</div>





















<app-footerbyadmin></app-footerbyadmin>