
<app-headerbyuser></app-headerbyuser>
<app-menubyuser></app-menubyuser>
<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
  <!-- form card register -->
  <div class="card btn-success">

   <br><h1>LIST OF DATA :</h1>

    
    <br>

  </div>
</div>
<!-- form card register -->
</div>


<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
  <!-- form card register -->
  <div class="card btn-success">
              <br><br>
              DATA DISOPONIBLES :{{categorieproduct.length}}
              <br><br>

    
    

  </div>
</div>
<!-- form card register -->
</div>



<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
  <!-- form card register -->
  <div class="card btn-primary">


      <div class="container"><br><hr>
        <button class="btn btn-lg btn-info" (click)="openPDF()">Download PDF</button>&nbsp;
      </div>


    
    <br><hr>

  </div>
</div>
<!-- form card register -->
</div>






<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
  <!-- form card register -->
  <div class="card">

<div class="container">
    <!-- No data message -->
    <p *ngIf="categorieproduct.length <= 0" class="no-data text-center">There is no categorieproduct added yet!</p>
    <!-- categorieproduct list -->
    <table id="htmlData"  class="table table-bordered" *ngIf="categorieproduct.length > 0">
      <thead class="table-success">
        <tr>
          <th scope="col">categorieproduct ID</th>
          <th scope="col">Name</th>
          <th scope="col">datecreation</th>
          <th scope="col">datemodification</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categorieproduct of categorieproduct; let i = index">
          <th scope="row">{{categorieproduct._id}}</th>
          <td>{{categorieproduct.name}}</td>
          <td>{{categorieproduct.datecreation}}</td>
          <td>{{categorieproduct.datemodification}}</td>

        </tr>
      </tbody>
    </table>
  </div>




    
    <br><hr>

  </div>
</div>
<!-- form card register -->
</div>













<app-footerbyuser></app-footerbyuser>