
<app-visiteurheader></app-visiteurheader>
<app-visiteurmenu></app-visiteurmenu>











<div class="container">  <div class="col-12 col-sm-12 col-lg-12">
  <!-- form card register -->
  <div class="card">
     <br>


     


    
    <br><hr>

  </div>
</div>
<!-- form card register -->
</div>


        <!-- page wrapper start -->
        <div class="page-main-wrapper">
          <div class="container">
              <div class="row">
                  <!-- product main wrap start -->
                  <div class="col-12">
                      <div class="shop-banner img-full">
                          <img src="assets/img/banner/banner_static1.jpg" alt="">
                      </div>
                      <!-- product view wrapper area start -->
                      <div class="shop-product-wrapper pt-34">
                          <!-- shop product top wrap start -->
                          <div class="shop-top-bar">
                              <div class="row">
                                  <div class="col-lg-7 col-md-6">
                                      <div class="top-bar-left">
                                          <div class="product-view-mode mr-70 mr-sm-0">
                                              <a class="active" href="#" data-target="grid"><i class="fa fa-th"></i></a>
                                              <a href="#" data-target="list"><i class="fa fa-list"></i></a>
                                          </div>
                                          <div class="product-amount">
                                              <p>Showing 1–16 of 21 results</p>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div>
                          <!-- shop product top wrap start -->

                          <!-- product item start -->
                          <div class="shop-product-wrap grid row">
                              <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let product of product; let i = index">
                                  <!-- product single grid item start -->
                                  <div class="product-item fix mb-30" >
                                      <div class="product-thumb">
                                          <a [routerLink]="['/VisiteurproductdetailComponent/', product._id]">
                                              <img src="assets/img/product/product-img1.jpg" class="img-pri" alt="">
                                              <img src="assets/img/product/product-img2.jpg" class="img-sec" alt="">
                                          </a>
                                          <div class="product-label">
                                              <span>{{product.categorieid}}</span>
                                          </div>
                                          <div class="product-action-link">
                                              <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Quick view"><i class="fa fa-search"></i></span> </a>
                                              <a href="#" data-toggle="tooltip" data-placement="left" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                                              <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"><i class="fa fa-refresh"></i></a>
                                              <a href="#" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                                          </div>
                                      </div>
                                      <div class="product-content">
                                          <h4><a [routerLink]="['/VisiteurproductdetailComponent/', product._id]">{{product.name}}</a></h4>
                                          <div class="pricebox">
                                              <span class="regular-price">${{product.price}}</span>
                                              <div class="ratings">
                                                  <span class="good"><i class="fa fa-star"></i></span>
                                                  <span class="good"><i class="fa fa-star"></i></span>
                                                  <span class="good"><i class="fa fa-star"></i></span>
                                                  <span class="good"><i class="fa fa-star"></i></span>
                                                  <span><i class="fa fa-star"></i></span>
                                                  <div class="pro-review">
                                                      <span>1 review(s)</span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- product single grid item end -->
                                  <!-- product single list item start -->
                                  <div class="product-list-item mb-30">
                                      <div class="product-thumb">
                                          <a [routerLink]="['/VisiteurproductdetailComponent/', product._id]">
                                              <img src="assets/img/product/product-img1.jpg" class="img-pri" alt="">
                                              <img src="assets/img/product/product-img2.jpg" class="img-sec" alt="">
                                          </a>
                                          <div class="product-label">
                                              <span>hot</span>
                                          </div>
                                      </div>

                              <div class="col-lg-3 col-md-4 col-sm-6" >
                                  <!-- product single grid item start -->
                                  <div class="product-item fix mb-30" >
                                      <div class="product-thumb">
                                          <a [routerLink]="['/VisiteurproductdetailComponent/', product._id]">
                                              <img src="assets/img/product/product-img13.jpg" class="img-pri" alt="">
                                              <img src="assets/img/product/product-img14.jpg" class="img-sec" alt="">
                                          </a>
                                          <div class="product-label">
                                              <span>hot</span>
                                          </div>
                                          <div class="product-action-link">
                                              <a [routerLink]="['/VisiteurproductdetailComponent/', product._id]" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Quick view"><i class="fa fa-search"></i></span> </a>
                                              <a [routerLink]="['/VisiteurproductdetailComponent/', product._id]" data-toggle="tooltip" data-placement="left" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                                              <a [routerLink]="['/VisiteurproductdetailComponent/', product._id]" data-toggle="tooltip" data-placement="left" title="Compare"><i class="fa fa-refresh"></i></a>
                                              <a [routerLink]="['/VisiteurproductdetailComponent/', product._id]" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                                          </div>
                                      </div>
                                      <div class="product-content">
                                          <h4><a [routerLink]="['/VisiteurproductdetailComponent/', product._id]">vertual product 01</a></h4>
                                          <div class="pricebox">
                                              <span class="regular-price">$70.00</span>
                                              <div class="ratings">
                                                  <span class="good"><i class="fa fa-star"></i></span>
                                                  <span class="good"><i class="fa fa-star"></i></span>
                                                  <span class="good"><i class="fa fa-star"></i></span>
                                                  <span class="good"><i class="fa fa-star"></i></span>
                                                  <span><i class="fa fa-star"></i></span>
                                                  <div class="pro-review">
                                                      <span>1 review(s)</span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- product single grid item end -->
                                  <!-- product single list item start -->
   
                                  <!-- product single list item start -->
                              </div> <!-- product single column end -->





                          </div>
                          <!-- product item end -->
                      </div>
                      <!-- product view wrapper area end -->

                      <!-- start pagination area -->
                      <div class="paginatoin-area text-center pt-28">
                          <div class="row">
                              <div class="col-12">
                                  <ul class="pagination-box">
                                      <li><a class="Previous" href="#">Previous</a></li>
                                      <li class="active"><a href="#">1</a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li><a class="Next" href="#"> Next </a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- end pagination area -->

                  </div>
                  <!-- product main wrap end -->
              </div>
          </div>
      </div>
      <!-- page wrapper end -->












<app-visiteurfooter></app-visiteurfooter>